@import models.resident._
@import models.resident.shares._
@import views.html.helpers._
@import views.html.calculation._
@import uk.gov.hmrc.play.views.html.helpers.form
@import controllers.routes.{GainController => gainRoutes}
@import controllers.routes.{DeductionsController => deductionRoutes}
@import controllers.routes.{IncomeController => incomeRoutes}

@(postAction: Call, backUrl: String, gainAnswers: GainAnswersModel, deductionsAnswers: Option[DeductionGainAnswersModel] = None, taxYear: Option[TaxYearModel] = None, incomeAnswers: Option[IncomeAnswersModel] = None, isCurrentTaxYear: Boolean = false)(implicit request: Request[_], messages: Messages)

@resident_main_template(title = Messages("calc.checkYourAnswers.title"), backLink = Some(backUrl), articleLayout = false, homeLink = controllers.routes.GainController.disposalDate().url, navTitle = Messages("calc.base.resident.shares.home")) {

    <h1 class="heading-large">@Messages("calc.checkYourAnswers.title")</h1>

    <div class="form-group">
        @checkYourAnswersPartial(gainAnswers, deductionsAnswers, taxYear, incomeAnswers, isCurrentTaxYear)
    </div>

    @form(action = postAction) {
        <button class="button" type="submit" id="continue-button">@Messages("calc.base.continue")</button>
    }
}