@import models.resident.AnnualExemptAmountModel
@import uk.gov.hmrc.play.views.html.helpers.form
@import views.html.helpers._
@import views.html.calculation.resident._

@(annualExemptAmountForm: Form[AnnualExemptAmountModel], backLink: Option[String], postAction: Call, homeLink: String, journey: String, navTitle: String)(implicit request: Request[_])

@import views.html.helpers._

@sidebar = {

<a id="annualExemptAmountLink" class="external-link" rel="external" href="https://www.gov.uk/capital-gains-tax/allowances"
   target="_blank" data-journey-click="help:govUK:rtt-@{journey}-allowances">
    @Messages("calc.resident.annualExemptAmount.link.one")
    <span>@Messages("calc.base.externalLink")</span>
</a>
}

@resident_main_template(
    title = Messages("calc.resident.annualExemptAmount.title"),
    backLink = backLink,
    sidebarLinks = Some(sidebar),
    homeLink = homeLink,
    navTitle = navTitle
) {

    @errorSummary(annualExemptAmountForm, "amount")

    <h1 class="heading-large">@Messages("calc.resident.annualExemptAmount.title")</h1>

    @form(action = postAction) {

    @formInputMoney(annualExemptAmountForm, "amount", "", Some(Messages("calc.resident.annualExemptAmount.helpText.one") + "<br>" + Messages("calc.resident.annualExemptAmount.helpText.two")))

    <button class="button" type="submit" id="continue-button">@Messages("calc.base.continue")</button>

    }
}