.panel-indent--wide {
    border-left-width: 10px;
}

.poundSign {
    position:relative;
    margin-left:5px;
    margin-right:-20px;
    top:1px;
    left:2px;
}
.moneyField {
    padding-left:20px;
    text-align:left;
}

.notice {
  position: relative;
}

.notice .icon {
  position: absolute;
  left: 0;
  top: 50%;
  margin-top: -17px;
}

.notice strong {
  display: block;
  padding-left: 65px;
  margin-left: -15px;
}

.notice-wrapper {
    border: 2px solid #BFC1C3;
    padding: 20px;
    border-left: none;
    border-right: none;
    background-color: #F8F8F8;
}

.icon-important-size {
    width: 35px;
    height: 35px;
}

.non-resident-summary-padding-above {
    padding-top: 2.5em;
}

.visuallyhidden {
    position: absolute;
    overflow: hidden;
    clip: rect(0 0 0 0);
    height: 1px;
    width: 1px;
    margin: -1px;
    padding: 0;
    border: 0;
}

.visuallyhidden {
    position: absolute;
    left: -9999em;
}

.summary-section {
    margin: 3em 0;
    padding-bottom: 2em;
    border-bottom: 2px solid #BFC1C3;
}

.grid-layout__column--1-3 {
    padding: 0 15px
}

.summary-answer {
    white-space: pre-line;
}

.additional-option-block {
    padding-left: 44px;
    border-left-width: 10px;
    margin-bottom: 0.7894736842em;
    display: table;
}

.align-bottom {
    vertical-align: bottom;
}

.block-label input {
    position: absolute;
    top: 28px;
    left: 10px;
    cursor: pointer;
    margin: 0;
    width: 29px;
    height: 29px;
}

.resident span.heading-large {
    display: block;
    margin-top: 0em;
    margin-bottom: 1em;
}

.resident .inline.form-group {
    margin-bottom: 0;
}

.yes-no-button {
    margin-top: 1em;
}

.resident .summary-underline {
    padding-bottom: 1.5em;
    border-bottom: 2px solid #BFC1C3;
}

.resident .summary-overline {
    padding-top: 1.8em;
    border-top: 2px solid #BFC1C3;
}

.what-to-do-next-text {
    padding-top: 0.8em;
    padding-bottom: 1.5em;
}

.resident section {
    margin: 0em 0em;
    padding-bottom: 1em;
    padding-top: 1em;
    border-bottom: 0px;
}

.icon-important {
    width: 35px;
    height: 35px;
}

.pdf {
    font-family: Arial,sans-serif;
}

.pdf .pre-heading {
     font-size: 24px;
     line-height: 1.11111;
     font-weight: 400;
     text-transform: none;
     display: block;
     color: #6f777b;
     margin-bottom: 0.5em;
}

.pdf .heading-xlarge {
    font-size: 48px;
    line-height: 1.04167;
    font-weight: 400;
    text-transform: none;
    font-weight: 700;
    margin-top: 0.46875em;
    margin-bottom: 0.9375em;
}

.pdf .organisation-logo-medium {
    display: block;
    font-size: 32px;
    line-height: 1em;
    padding: 0 0 0 80px;
    vertical-align: top;
    background-image: url("/calculate-your-capital-gains/resident/shares/assets/images/hmrc-logo-120px.png");
    background-size: 2em 2em;
    background-position: 6px center;
    background-repeat: no-repeat;
    border-left: 4px solid #009390;
}

.pdf .logo {
    position: absolute;
    right: 0;
    top: 1em;
    width: 18em;
    height: 3em;
}

.pdf .summary-underline {
    padding-bottom: 0.5em;
    border-bottom: 2px solid #BFC1C3;
}

.pdf .heading-large {
    font-size: 26px;
    line-height: 1.11111;
    font-weight: 400;
    text-transform: none;
    font-weight: 700;
    margin-top: 1.04167em;
    margin-bottom: 45px;
}

.pdf .grid-layout__column--1-2 {
    width: 50%;
    vertical-align: top;
    display: table-cell;
    box-sizing: border-box;
    text-align: left;
}

.pdf .font-medium {
    font-size: 16px;
    line-height: 1.25;
    font-weight: 400;
    text-transform: none;
}

.pdf .bold-medium {
    font-size: 16px;
    line-height: 1.25;
    font-weight: 400;
    text-transform: none;
}

.pdf .form-group {
    margin-bottom: 30px;
}

.pdf .grid-layout {
    margin-left: 15px;
    margin-right: 15px;
    display: table;
}

.pdf .grid-layout {
    width: 100%;
}

.pdf .notice strong {
    padding-left: 0
}

.save-pdf-button {
    margin-top: 3.0em;
}


.nr.save-pdf-button {
    margin-top: 0;
    margin-bottom: 1em;
}

.pdf div {
    page-break-inside: avoid
}

.pdf-non-resident .grid-layout__column--1-3 {
    width: 50%;
    vertical-align: top;
    box-sizing: border-box;
    display: table;
    text-align: left;
    float: left;
}

.pdf-non-resident .grid-layout__column--1-2 {
    width: 50%;
    vertical-align: top;
    box-sizing: border-box;
    display: table;
    text-align: left;
    float: left;
}

.pdf-non-resident .pdf-header {
    width: 100%;
}

.pdf-non-resident .heading-large {
    width: 100%;
    display: block;
    padding-bottom: 0.25em;
    border-bottom: 2px solid #BFC1C3;
    position: relative;
        right: 1.2em;
}

.money-label {
    display:block;
}

.pdf-non-resident p.lede {
    position: relative;
        bottom: 1.0em
}