@import views.html.calculation._
@import models.resident.income.CurrentIncomeModel
@import models.resident._
@import uk.gov.hmrc.play.views.html.helpers.form
@import views.html.helpers._

@(currentIncomeForm: Form[CurrentIncomeModel], backUrl: String, taxYear: TaxYearModel, inCurrentTaxYear: Boolean)(implicit request: Request[_], messages: Messages)

@sidebar = {
<a id="incomeTaxLink" class="external-link" rel="external" href="https://www.gov.uk/income-tax"
   target="_blank" data-journey-click="help:govUK:rtt-shares-incomeTax">
    @Messages("calc.resident.currentIncome.linkText")
    <span>@Messages("calc.base.externalLink")</span>
</a>
}

@title = {
    @{if(inCurrentTaxYear) {
        Messages("calc.resident.currentIncome.questionCurrentYear")
    } else {
        Messages("calc.resident.currentIncome.question", taxYear.taxYearSupplied)
    }}
}

@resident_main_template(title = title.toString,
                        backLink = Some(backUrl),
                        sidebarLinks = Some(sidebar),
                        homeLink = controllers.resident.shares.routes.GainController.disposalDate().url,
                        navTitle = Messages("calc.base.resident.shares.home")) {

    @errorSummary(currentIncomeForm, "current-income")


    <h1 class="heading-large">
        @if(inCurrentTaxYear){@Messages("calc.resident.currentIncome.questionCurrentYear")
        } else {@Messages("calc.resident.currentIncome.question", taxYear.taxYearSupplied)}
    </h1>

    @form(action = controllers.resident.shares.routes.IncomeController.submitCurrentIncome){

        @formInputMoney(currentIncomeForm, "amount",
                        if(inCurrentTaxYear) {Messages("calc.resident.currentIncome.questionCurrentYear")
                        } else {Messages("calc.resident.currentIncome.question", taxYear.taxYearSupplied)},
                        Some(Messages("calc.resident.shares.currentIncome.helpText")),
                        hideLabel = true)

        <button id="continue-button" class="button" type="submit">@Messages("calc.base.continue")</button>
    }

}