@import models.resident.income.PersonalAllowanceModel
@import models.resident.TaxYearModel
@import uk.gov.hmrc.play.views.html.helpers.form
@import views.html.helpers._
@import views.html.calculation._
@import uk.gov.hmrc.play.views.helpers.MoneyPounds

@(personalAllowanceForm: Form[PersonalAllowanceModel], taxYear: TaxYearModel, standardPA: BigDecimal, homeLink: String, postAction: Call, backLink: Option[String], journey: String, navTitle: String, currentTaxYear: String)(implicit request: Request[_], messages: Messages)

@sidebar = {

    <a id="personalAllowanceLink" class="external-link" rel="external" href="https://www.gov.uk/income-tax-rates/current-rates-and-allowances"
       target="_blank" data-journey-click="help:govUK:rtt-@{journey}-currentRatesAndAllowances">
        @Messages("calc.resident.personalAllowance.link.one")
        <span>@Messages("calc.base.externalLink")</span>
    </a>
}

@defining(taxYear.taxYearSupplied == currentTaxYear) { taxYearValid =>
    @defining(
        if(taxYearValid) Messages("calc.resident.personalAllowance.currentYearQuestion")
        else Messages("calc.resident.personalAllowance.question", taxYear.taxYearSupplied)) { question =>

        @defining(
            if(taxYearValid) "calc.resident.personalAllowance.currentYearHelpText" else "calc.resident.personalAllowance.helpText") { hintTextKey =>

            @resident_main_template(title = question, backLink = backLink, sidebarLinks = Some(sidebar), homeLink = homeLink, navTitle = navTitle) {

                @errorSummary(personalAllowanceForm, "amount")

                <h1 class="heading-large">@question</h1>

                @form(action = postAction) {

                    @formInputMoney(
                        personalAllowanceForm,
                        "amount",
                        question,
                        Some(Messages(hintTextKey, MoneyPounds(standardPA, 0).quantity)),
                        hideLabel = true,
                        step = "1")

                    <button class="button" type="submit" id="continue-button">@Messages("calc.base.continue")</button>

                }
            }
        }
    }
}