@import models.resident.income.PersonalAllowanceModel
@import models.resident.TaxYearModel
@import uk.gov.hmrc.play.views.html.helpers.form
@import views.html.helpers._
@import views.html.calculation._
@import uk.gov.hmrc.play.views.helpers.MoneyPounds

@(personalAllowanceForm: Form[PersonalAllowanceModel], taxYear: TaxYearModel, standardPA: BigDecimal, homeLink: String, postAction: Call, backLink: Option[String], journey: String, navTitle: String, currentTaxYear: String)(implicit request: Request[_], messages: Messages)

@sidebar = {

    <a id="personalAllowanceLink" class="external-link" rel="external" href="https://www.gov.uk/income-tax-rates/current-rates-and-allowances"
       target="_blank" data-journey-click="help:govUK:rtt-@{journey}-currentRatesAndAllowances">
        @Messages("calc.resident.personalAllowance.link.one")
        <span>@Messages("calc.base.externalLink")</span>
    </a>
}

@resident_main_template(title = Messages("calc.resident.personalAllowance.question", taxYear.taxYearSupplied), backLink = backLink, sidebarLinks = Some(sidebar), homeLink = homeLink, navTitle = navTitle) {

    @errorSummary(personalAllowanceForm, "amount")

    <h1 class="heading-large">@Messages("calc.resident.personalAllowance.question", taxYear.taxYearSupplied)</h1>

    @form(action = postAction) {

        <p>@Messages("calc.resident.personalAllowance.help")</p>

        <p>
            @{
                val splitYear = taxYear.taxYearSupplied.split("/")
                Messages("calc.resident.personalAllowance.list.title",
                    splitYear.apply(0),
                    splitYear.apply(0).substring(0, 2) + splitYear.apply(1),
                    MoneyPounds(standardPA, 0).quantity)
            }
        </p>

        <ul class="list list-bullet">
            <li>@Messages("calc.resident.personalAllowance.list.one")</li>
            <li>@Messages("calc.resident.personalAllowance.list.two")</li>
        </ul>

        <div class="form-group">
            <span>@Messages("calc.resident.personalAllowance.link.text")</span>
            <a class="external-link" href="https://www.gov.uk/income-tax-rates/current-rates-and-allowances" rel="external">
            @Messages("calc.resident.personalAllowance.link")
            </a>
        </div>

        @formInputMoney(
            personalAllowanceForm,
            "amount",
            Messages("calc.resident.personalAllowance.question", taxYear.taxYearSupplied),
            None,
            hideLabel = true,
            step = "1")

        <button class="button" type="submit" id="continue-button">@Messages("calc.base.continue")</button>
    }
}