@import views.html.helpers._
@import views.html.calculation._

@(restartUrl: String, homeLink: String)(implicit request: Request[_], messages: Messages)

@resident_main_template(Messages("session.timeout.message"), homeLink = homeLink, navTitle = Messages("calc.base.calculate.tax.heading")) {

    <h1 class="heading-large">@Messages("session.timeout.message")</h1>

    <a id="startAgain" class="button" role="button" href="@restartUrl" data-journey-click="nav:calc:restart">@Messages("calc.summary.startAgain")</a>
}