@import models.resident._
@import models.resident.shares._
@import views.html.helpers.resident._
@import controllers.routes.{GainController => gainRoutes}
@import controllers.routes.{DeductionsController => deductionRoutes}
@import controllers.routes.{IncomeController => incomeRoutes}

@(gainAnswers: GainAnswersModel, deductionAnswers: Option[DeductionGainAnswersModel], taxYear: Option[TaxYearModel], incomeAnswers: Option[IncomeAnswersModel], isCurrentTaxYear: Boolean = false)(implicit messages: Messages)

<section id="yourAnswers">

    <h2 class="bold-medium you-told-us-title">@Messages("calc.checkYourAnswers.tableHeading")</h2>

    <!--Gain Answers Section-->
    @summaryDateRowHelper("disposalDate",Messages("calc.resident.shares.disposalDate.question"),gainAnswers.disposalDate,Some(gainRoutes.disposalDate().toString))

    @summaryOptionRowHelper("soldForLessThanWorth", Messages("calc.resident.shares.sellForLess.question"), gainAnswers.soldForLessThanWorth, Some(gainRoutes.sellForLess().toString))

    @{if(!gainAnswers.soldForLessThanWorth)
        summaryNumericRowHelper("disposalValue", Messages("calc.resident.shares.disposalValue.question"), gainAnswers.disposalValue.get, Some(gainRoutes.disposalValue().toString))
    }

    @{if(gainAnswers.soldForLessThanWorth)
        summaryNumericRowHelper("worthWhenSoldForLess", Messages("calc.resident.shares.worthWhenSoldForLess.question"), gainAnswers.worthWhenSoldForLess.get, Some(gainRoutes.worthWhenSoldForLess().toString))
    }

    @summaryNumericRowHelper("disposalCosts",Messages("calc.resident.shares.disposalCosts.question"),gainAnswers.disposalCosts,Some(gainRoutes.disposalCosts().toString))

    @summaryOptionRowHelper("ownerBeforeLegislationStart",Messages("calc.resident.shares.ownerBeforeLegislationStart.title"),gainAnswers.ownerBeforeLegislationStart,Some(gainRoutes.ownerBeforeLegislationStart().url))

    @if(gainAnswers.ownerBeforeLegislationStart){
        @summaryNumericRowHelper("valueBeforeLegislationStart",Messages("calc.resident.shares.valueBeforeLegislationStart.question"),gainAnswers.valueBeforeLegislationStart.get,Some(gainRoutes.valueBeforeLegislationStart().toString))
    }
    @if(!gainAnswers.ownerBeforeLegislationStart) {
        @summaryOptionRowHelper("inheritedTheShares",Messages("calc.resident.shares.didYouInheritThem.question"),gainAnswers.inheritedTheShares.get,Some(gainRoutes.didYouInheritThem().url))
    }
    @if(gainAnswers.displayWorthWhenInherited){
        @summaryNumericRowHelper("worthWhenInherited",Messages("calc.resident.shares.worthWhenInherited.question"),gainAnswers.worthWhenInherited.get,Some(gainRoutes.worthWhenInherited().url))
    }
    @if(gainAnswers.displayWorthWhenBought) {
        @summaryNumericRowHelper("acquisitionValue",Messages("calc.resident.shares.acquisitionValue.question"),gainAnswers.acquisitionValue.get,Some(gainRoutes.acquisitionValue().url))
    }

    @summaryNumericRowHelper("acquisitionCosts",Messages("calc.resident.shares.acquisitionCosts.question"),gainAnswers.acquisitionCosts,Some(gainRoutes.acquisitionCosts().toString))

    <!--Deductions Answers Section-->
    @if(deductionAnswers.isDefined) {

        @summaryOptionRowHelper("broughtForwardLosses", Messages("calc.resident.lossesBroughtForward.title", taxYear.get.taxYearSupplied), deductionAnswers.get.broughtForwardModel.get.option, Some(deductionRoutes.lossesBroughtForward().toString))

        @{if(deductionAnswers.get.broughtForwardModel.get.option)
            summaryNumericRowHelper("broughtForwardLossesValue", Messages("calc.resident.lossesBroughtForwardValue.title", taxYear.get.taxYearSupplied), deductionAnswers.get.broughtForwardValueModel.get.amount, Some(deductionRoutes.lossesBroughtForwardValue().toString))
        }
    }

    <!--Income Answers Section-->
    @if(incomeAnswers.isDefined) {

        @{summaryNumericRowHelper("currentIncome", if(isCurrentTaxYear){Messages("calc.resident.currentIncome.questionCurrentYear")}
        else{Messages("calc.resident.currentIncome.question", taxYear.get.taxYearSupplied)},
        incomeAnswers.get.currentIncomeModel.get.amount, Some(incomeRoutes.currentIncome().toString))}

        @{summaryNumericRowHelper("personalAllowance", {if(isCurrentTaxYear) {Messages("calc.resident.personalAllowance.currentYearQuestion")}
        else {Messages("calc.resident.personalAllowance.question", taxYear.get.taxYearSupplied)}},
        incomeAnswers.get.personalAllowanceModel.get.amount, Some(incomeRoutes.personalAllowance().toString))}

    }

</section>