@import uk.gov.hmrc.play.views.helpers._

@(rowId: String, question: String, amount: BigDecimal, isTotal: Boolean = false, hintText: Boolean = true)(implicit messages: Messages)

@(isTotal, hintText) match {
  case (true, _) => {

    <div id="@rowId" class="grid-layout grid-layout--no-margin font-small summary-total-margin-top">
      <div id="@{rowId}-text">
        <strong>@question</strong>
      </div>
      <div id="@{rowId}-amount" class="grid-layout__column--1-3 text--right">
        @amount.scale match {
    case 0 => {
      <strong>&pound;@MoneyPounds(amount, 0).quantity</strong>
    }
    case _ if amount == amount.setScale(0, BigDecimal.RoundingMode.FLOOR) => {
      <strong>&pound;@MoneyPounds(amount, 0).quantity</strong>
    }
    case _ => {
      <strong>£@MoneyPounds(amount, 2).quantity</strong>
    }
    }
    </div>
    </div>
  }
  case (_, true) => {
    <div id="@rowId" class="grid-layout grid-layout--no-margin font-small">
      <div id="@{rowId}-text" class="form-hint">
        @question
      </div>
      <div id="@{rowId}-amount" class="grid-layout__column--1-3 text--right">
        @amount.scale match {
    case 0 => {
      <span class="form-hint">&pound;@MoneyPounds(amount, 0).quantity</span>
    }
    case _ if amount == amount.setScale(0, BigDecimal.RoundingMode.FLOOR) => {
      <span class="form-hint">&pound;@MoneyPounds(amount, 0).quantity</span>
    }
    case _ => {
      <span class="form-hint">&pound;@MoneyPounds(amount, 2).quantity</span>
    }
    }
    </div>
    </div>
  }
  case (_, false) => {
    <div id="@rowId" class="grid-layout grid-layout--no-margin font-small">
      <div id="@{rowId}-text">
        @question
      </div>
      <div id="@{rowId}-amount" class="grid-layout__column--1-3 text--right">
        @amount.scale match {
    case 0 => {
      <span>&pound;@MoneyPounds(amount, 0).quantity</span>
    }
    case _ if amount == amount.setScale(0, BigDecimal.RoundingMode.FLOOR) => {
      <span>&pound;@MoneyPounds(amount, 0).quantity</span>
    }
    case _ => {
      <span>&pound;@MoneyPounds(amount, 2).quantity</span>
    }
    }
    </div>
    </div>
  }
}

