@import common.Dates._
@import java.time.LocalDate

@(rowId: String, question: String, date: LocalDate, link: Option[String] = None)

<div id="@rowId" class="grid-layout grid-layout--stacked form-group font-medium">
    <div id="@{rowId}-question" class="grid-layout__column grid-layout__column--1-2">
        @question
    </div>
    <div id="@{rowId}-date" class="grid-layout__column grid-layout__column--1-2">
        <span class="bold-medium">@datePageFormatNoZero.format(date)</span>
        @if(link.isDefined){<br><a id="@{rowId}-change-link" href="@link" class="font-xsmall">@Messages("calc.base.change")
        <span class="visuallyhidden">@question</span>
    </a>}
    </div>
</div>