@(rowId: String, question: String, answer: String, link: Option[String] = None, displayLink: Boolean = true)(implicit messages: Messages)

@if(displayLink && link.isDefined) {
<div id="@rowId" class="grid-layout grid-layout--stacked form-group resident summary-underline">
    <div id="@{rowId}-question" class="grid-layout__column grid-layout__column--1-2">
        @question
    </div>
    <div id="@{rowId}-option" class="grid-layout__column grid-layout__column--1-4">
        @answer
    </div>
    <div id="@{rowId}-change-link" class="grid-layout__column grid-layout__column--1-4 text--right">
        <a id="@{rowId}-change-link" href="@link" class="bold-small">@Messages("calc.base.change")
            <span class="visuallyhidden">@question</span>
        </a>
    </div>
</div>
} else {
<div id="@rowId" class="grid-layout grid-layout--stacked form-group resident summary-underline">
    <div id="@{rowId}-question" class="grid-layout__column grid-layout__column--1-2">
        @question
    </div>
    <div id="@{rowId}-option" class="grid-layout__column grid-layout__column--1-2">
        @answer
    </div>
</div>
}