@import uk.gov.hmrc.play.views.html.helpers.form
@import models.resident.AcquisitionCostsModel
@import views.html.helpers._
@import views.html.calculation.resident._

@(acquisitionCostsForm: Form[AcquisitionCostsModel], backHref: Some[String], homeHref: String)(implicit request: Request[_], messages: Messages)

@resident_main_template(Messages("calc.resident.shares.acquisitionCosts.question"), backLink = backHref, homeLink = homeHref, navTitle = Messages("calc.base.resident.shares.home")) {

    @errorSummary(acquisitionCostsForm, "amount")

    <h1 class="heading-large">@Messages("calc.resident.shares.acquisitionCosts.question")</h1>

    @form(action = controllers.resident.shares.routes.GainController.submitAcquisitionCosts) {

        @formInputMoney(acquisitionCostsForm, "amount", Messages("calc.resident.shares.acquisitionCosts.question"), Some(Messages("calc.resident.shares.acquisitionCosts.help")), hideLabel = true)

        <button class="button" type="submit" id="continue-button">@Messages("calc.base.continue")</button>
    }
}