@import uk.gov.hmrc.play.views.html.helpers.form
@import models.resident.AcquisitionValueModel
@import views.html.helpers._
@import views.html.calculation._

@(acquisitionValueForm: Form[AcquisitionValueModel], navHomeLink: String)(implicit request: Request[_], messages: Messages)

@resident_main_template(
    Messages("calc.resident.shares.acquisitionValue.question"),
    backLink = Some(controllers.routes.GainController.disposalCosts().toString),
    homeLink = navHomeLink,
    navTitle = Messages("calc.base.resident.shares.home")
) {

    @errorSummary(acquisitionValueForm, "amount")

    <h1 class="heading-large">@Messages("calc.resident.shares.acquisitionValue.question")</h1>

    @form(action = controllers.routes.GainController.submitAcquisitionValue) {

    <p class="panel-indent panel-indent--wide panel-indent--gutter">@Messages("calc.resident.shares.acquisitionValue.hintText")</p>

        @formInputMoney(
            acquisitionValueForm,
            "amount",
            Messages("calc.resident.shares.acquisitionValue.question"),
            hideLabel = true
        )

        <button class="button" type="submit" id="continue-button">@Messages("calc.base.continue")</button>
    }

}