@import models.resident.DisposalCostsModel
@import uk.gov.hmrc.play.views.html.helpers.form
@import views.html.helpers._
@import views.html.calculation._

@(disposalCostsForm: Form[DisposalCostsModel], navHomeLink: String)(implicit request: Request[_], messages: Messages)

@resident_main_template(
    Messages("calc.resident.shares.disposalCosts.question"),
    backLink = Some(controllers.routes.GainController.disposalValue().toString),
    homeLink = navHomeLink,
    navTitle = Messages("calc.base.resident.shares.home")
) {

    @errorSummary(disposalCostsForm, "disposal-costs")

    <h1 class="heading-large">@Messages("calc.resident.shares.disposalCosts.question")</h1>

    @form(action = controllers.routes.GainController.submitDisposalCosts){

        <p class="form-hint"> @Messages("calc.resident.shares.disposalCosts.helpText")</p>

        <p class="panel-indent panel-indent--wide panel-indent--gutter">@Messages("calc.resident.shares.disposalCosts.jointOwnership")</p>

        @formInputMoney(disposalCostsForm, "amount", Messages("calc.resident.shares.disposalCosts.question"), hideLabel = true)

        <button id="continue-button" class="button" type="submit">@Messages("calc.base.continue")</button>

    }
}