@import models.resident.DisposalValueModel
@import uk.gov.hmrc.play.views.html.helpers.form
@import views.html.helpers._
@import views.html.calculation._

@(disposalValueForm : Form[DisposalValueModel], navHomeLink: String)(implicit request: Request[_], messages: Messages)

@resident_main_template(
    Messages("calc.resident.shares.disposalValue.question"),
    backLink = Some(controllers.routes.GainController.sellForLess().toString),
    homeLink = navHomeLink,
    navTitle = Messages("calc.base.resident.shares.home")
) {

    @errorSummary(disposalValueForm, "amount")

        <h1 class="heading-large">@Messages("calc.resident.shares.disposalValue.question")</h1>

        @form(action = controllers.routes.GainController.submitDisposalValue) {

            <p class="panel-indent panel-indent--wide panel-indent--gutter">@Messages("calc.resident.shares.disposalValue.jointOwnership")</p>

            @formInputMoney(disposalValueForm, "amount", Messages("calc.resident.shares.disposalValue.question"), hideLabel = true)

            <button class="button" type="submit" id="continue-button">@Messages("calc.base.continue")</button>
        }
}