@import views.html.helpers._
@import views.html.calculation._
@import models.resident.shares.OwnerBeforeLegislationStartModel
@import models.resident.shares._
@import uk.gov.hmrc.play.views.html.helpers.form

@(ownerBeforeLegislationStart: Form[OwnerBeforeLegislationStartModel], navHomeLink: String, navBackLink: Option[String])(implicit request: Request[_], messages: Messages)

@resident_main_template(
    title = Messages("calc.resident.shares.ownerBeforeLegislationStart.title"),
    backLink = navBackLink,
    homeLink = navHomeLink,
    navTitle = Messages("calc.base.resident.shares.home")
){

@errorSummary(ownerBeforeLegislationStart, "ownerBeforeLegislationStart")

<h1 class="heading-large">@Messages("calc.resident.shares.ownerBeforeLegislationStart.title")</h1>

    @form(action = controllers.resident.shares.routes.GainController.submitOwnerBeforeLegislationStart) {

        <div id="radio-input" class="form-group">
            @formInputRadioGroup(
                field = ownerBeforeLegislationStart("ownerBeforeLegislationStart"),
                Seq(
                    "Yes" -> Messages("calc.base.yes"),
                    "No" -> Messages("calc.base.no")
                ),
                '_legend -> Messages("calc.resident.shares.ownerBeforeLegislationStart.title"),
                '_labelClass -> "block-label",
                '_legendClass -> "visuallyhidden",
                '_groupClass -> "inline"
            )
        </div>

        <input type="hidden" name="ownerBeforeLegislationStart" value="" />
        <button class="button" type="submit" id="continue-button">@Messages("calc.base.continue")</button>
    }
}
