@import uk.gov.hmrc.play.views.html.helpers.form
@import models.resident.shares.gain.ValueBeforeLegislationStartModel
@import views.html.helpers._
@import views.html.calculation.gain._

@(valueBeforeLegislationStartForm: Form[ValueBeforeLegislationStartModel])(implicit request: Request[_], messages: Messages)


@resident_shares_main_template(
    title = Messages("calc.resident.shares.valueBeforeLegislationStart.question"),
    backLink = Some(controllers.routes.GainController.ownerBeforeLegislationStart.toString)) {

    @errorSummary(valueBeforeLegislationStartForm, "amount")

    <h1 class="heading-large">@Messages("calc.resident.shares.valueBeforeLegislationStart.question")</h1>

    @form(action = controllers.routes.GainController.submitValueBeforeLegislationStart) {

        <p> @Messages("calc.resident.shares.valueBeforeLegislationStart.information")</p>

        <p class="form-hint"> @Messages("calc.resident.shares.valueBeforeLegislationStart.help")</p>

        <p class="panel-indent panel-indent--wide panel-indent--gutter">@Messages("calc.resident.shares.valueBeforeLegislationStart.hintText")</p>

        @formInputMoney(valueBeforeLegislationStartForm, "amount", Messages("calc.resident.shares.valueBeforeLegislationStart.question"), hideLabel = true)

        <button id="continue-button" class="button" type="submit">@Messages("calc.base.continue")</button>
    }
}