@import views.html.helpers.resident._
@import views.html.helpers._
@import models.SummaryDataItemModel
@import models.resident._
@import models.resident.shares._
@import common.Dates._
@import common.TaxDates
@import constructors.SummaryConstructor._
@import constructors.CalculateRequestConstructor._
@import controllers.routes.{GainController => gainRoutes}
@import controllers.routes.{DeductionsController => deductionRoutes}
@import uk.gov.hmrc.play.views.helpers.MoneyPounds
@import views.html.calculation._

@(gainAnswers: GainAnswersModel, deductionAnswers: DeductionGainAnswersModel, result: ChargeableGainResultModel, backUrl: String, taxYear: TaxYearModel, navHomeLink: String, totalCosts: BigDecimal)(implicit request: Request[_], messages: Messages)

@broughtForwardLossesHelpText() = {
    <span>
        @Messages("calc.resident.summary.remainingLossHelp")
        <a href="https://www.gov.uk/capital-gains-tax/losses" rel="external"
           data-journey-click="rtt-shares-help:govUK:summary-cgt-losses">
            @Messages("calc.resident.summary.remainingLossLink")
            <span>@Messages("calc.base.externalLink")</span>
        </a>
        @Messages("calc.resident.summary.remainingBroughtForwardLossHelp")
    </span>
}

@annualExemptAmountHelpText() = {
    <span>@Messages("calc.resident.summary.annualExemptAmountHelp")</span>
}

@resident_main_template(
    title = Messages("calc.resident.summary.title"),
    backLink = Some(backUrl),
    homeLink = navHomeLink,
    navTitle = Messages("calc.base.resident.shares.home")
) {

    <!-- Google Analytics -->
    <div id="ga-reporting" class="visuallyhidden">

        <!-- Tax Year -->
        <span data-metrics="rtt-shares-summary:calculationYear:@{taxYear.calculationTaxYear}"></span>

        <!-- No Gain Stats -->
        <span data-metrics="rtt-shares-summary:result:no-gain"></span>

        <!-- Claiming Brought Forward Losses Stats -->
        @if(deductionAnswers.broughtForwardModel.fold(false)(_.option)){
            <span data-metrics="rtt-shares-summary:broughtForwardLosses:yes"></span>
        } else {
            <span data-metrics="rtt-shares-summary:broughtForwardLosses:no"></span>
        }
    </div>

    <!-- Deductions Summary -->
    @deductionsSummaryPartial(gainAnswers,
        deductionAnswers,
        result,
        taxYear,
        totalCosts
    )


    @if(TaxDates.dateInsideAcceptedTaxYears(getDay(gainAnswers.disposalDate), getMonth(gainAnswers.disposalDate), getYear(gainAnswers.disposalDate))) {
        <section id="whatToDoNext">
            <h2 id="whatToDoNextTitle" class="bold-medium">@Messages("calc.summary.whatToDoNext.heading")</h2>
            <p class="font-small">@Messages("calc.summary.whatToDoNext.details")</p>
        </section>
    }

    <div id="save-as-a-pdf" class="notice download-pdf">
        <div class="icon-file-download">
            <span class="visuallyhidden">@Messages("calc.summary.download")</span>
        </div>

        <a type="submit" class="bold-small save-pdf-link" href="@controllers.routes.ReportController.deductionsReport()"
        data-journey-click="rtt-properties-summary:pdf:save">@Messages("calc.resident.summary.saveAsPdf")</a>
    </div>

    @if(TaxDates.dateInsideAcceptedTaxYears(getDay(gainAnswers.disposalDate), getMonth(gainAnswers.disposalDate), getYear(gainAnswers.disposalDate))) {
        <div class="summary-details-padding">
            <a class="button" id="continue-button" href="@controllers.routes.SaUserController.saUser.url">@Messages("calc.base.button.continue")</a>
        </div>
    }

}