@import views.html.helpers.resident._
@import models.SummaryDataItemModel
@import models.resident._
@import models.resident.shares._
@import common.Dates._
@import common.TaxDates
@import constructors.SummaryConstructor._
@import constructors.CalculateRequestConstructor._
@import controllers.routes.{GainController => gainRoutes}
@import controllers.routes.{DeductionsController => deductionRoutes}
@import uk.gov.hmrc.play.views.helpers.MoneyPounds
@import views.html.calculation._

@(gainAnswers: GainAnswersModel, deductionAnswers: DeductionGainAnswersModel, result: ChargeableGainResultModel, backUrl: String, taxYear: TaxYearModel, navHomeLink: String)(implicit request: Request[_], messages: Messages)

@broughtForwardLossesHelpText() = {
    <span>
        @Messages("calc.resident.summary.remainingLossHelp")
        <a href="https://www.gov.uk/capital-gains-tax/losses" rel="external"
           data-journey-click="rtt-shares-help:govUK:summary-cgt-losses">
            @Messages("calc.resident.summary.remainingLossLink")
            <span>@Messages("calc.base.externalLink")</span>
        </a>
        @Messages("calc.resident.summary.remainingBroughtForwardLossHelp")
    </span>
}

@annualExemptAmountHelpText() = {
    <span>@Messages("calc.resident.summary.annualExemptAmountHelp")</span>
}

@resident_main_template(
    title = Messages("calc.resident.summary.title"),
    backLink = Some(backUrl),
    articleLayout = false,
    homeLink = navHomeLink,
    navTitle = Messages("calc.base.resident.shares.home")
) {

<h1 class="heading-xlarge">
    <span class="pre-heading">@Messages("calc.resident.summary.pageHeading")</span>
    &pound;0.00
</h1>

@{if (!taxYear.isValidYear) {
    <div class="notice-wrapper">
        <div class="notice">
            <i class="icon icon-important">
                <span class="visuallyhidden">{Messages("calc.resident.summary.warning")}</span>
            </i>
            <strong class="bold-small">
                {Messages("calc.base.summary.dateWarning", taxYear.calculationTaxYear)}
            </strong>
        </div>
    </div>
    }
}

<!-- Google Analytics -->
<div id="ga-reporting" class="visuallyhidden">

    <!-- Tax Year -->
    <span data-metrics="rtt-shares-summary:calculationYear:@{taxYear.calculationTaxYear}"></span>

    <!-- No Gain Stats -->
    <span data-metrics="rtt-shares-summary:result:no-gain"></span>

    <!-- Claiming Brought Forward Losses Stats -->
    @if(deductionAnswers.broughtForwardModel.fold(false)(_.option)){
        <span data-metrics="rtt-shares-summary:broughtForwardLosses:yes"></span>
    } else {
        <span data-metrics="rtt-shares-summary:broughtForwardLosses:no"></span>
    }
</div>

<!-- Calculation Details Section -->
<section id="calcDetails">
    <!-- Header -->
    @summarySectionHeaderHelper(Messages("calc.resident.summary.calcDetailsHeadingDate", taxYear.taxYearSupplied))

    <!-- Data Rows -->
    @summaryNumericRowHelper("gain",gainMessage(result.gain),result.gain)
    @summaryNumericRowHelper("deductions", Messages("calc.resident.summary.deductions"), result.deductions, None, Some(Seq(
        (Messages("calc.resident.summary.deductionsDetails.aeaUsed"), MoneyPounds(result.aeaUsed, 0).quantity),
        (Messages("calc.resident.summary.deductionsDetails.broughtForwardLossesUsed", taxYear.taxYearSupplied), MoneyPounds(result.broughtForwardLossesUsed, 0).quantity)
    )))
    @if(result.chargeableGain == 0){
        @summaryNumericRowHelper("chargeableGain", Messages("calc.resident.summary.chargeableGain"), result.chargeableGain)
    }
    @if(result.broughtForwardLossesRemaining > 0) {
        @{summaryNumericHelpTextHelper("broughtForwardLossRemaining", Messages("calc.resident.summary.remainingBroughtForwardLoss", taxYear.taxYearSupplied),
            result.broughtForwardLossesRemaining,
            None,
            Some(broughtForwardLossesHelpText()))
        }
    }
    @summaryNumericHelpTextHelper("aeaRemaining", Messages("calc.resident.summary.aeaRemaining", taxYear.calculationTaxYear), result.aeaRemaining, None,
        if(result.aeaRemaining > 0) {Some(annualExemptAmountHelpText())}
        else {None}
    )
</section>

    @if(TaxDates.dateInsideAcceptedTaxYears(getDay(gainAnswers.disposalDate), getMonth(gainAnswers.disposalDate), getYear(gainAnswers.disposalDate))) {
            <section id="whatToDoNext" class="summary-underline summary-overline">
                <h2 id="whatToDoNextNoLossTitle" class="bold-medium">@Messages("calc.resident.summary.whatNext")</h2>
                <div id="whatToDoNextNoLossText" class="font-medium what-to-do-next-text">
                    @Messages("calc.resident.summary.whatNext.noLossOrGain")
                    <a href="https://www.gov.uk/capital-gains-tax/report-and-pay-capital-gains-tax" target="_blank" rel="external"
                       data-journey-click="help:govUK:rtt-shares-whatToDoNext">
                        @Messages("calc.resident.summary.whatNext.noLossOrGainLinkShares")
                        <span id="opensInANewWindow">@Messages("calc.base.externalLink")</span>.
                    </a>
                </div>
            </section>
    }

    <a type="submit" class="button save-pdf-button" href="@controllers.routes.ReportController.deductionsReport.toString"
       data-journey-click="rtt-shares-summary:pdf:save">@Messages("calc.resident.summary.saveAsPdf")</a>

}