@import views.html.helpers.resident._
@import models.SummaryDataItemModel
@import models.resident._
@import models.resident.shares._
@import common.Dates._
@import common.TaxDates
@import constructors.resident.shares.SummaryConstructor._
@import constructors.resident.shares.CalculateRequestConstructor._
@import controllers.resident.shares.routes.{GainController => gainRoutes}
@import controllers.resident.shares.routes.{DeductionsController => deductionRoutes}
@import uk.gov.hmrc.play.views.helpers.MoneyPounds
@import views.html.calculation.resident._

@(gainAnswers: GainAnswersModel, deductionAnswers: DeductionGainAnswersModel, result: ChargeableGainResultModel, backUrl: String, taxYear: TaxYearModel, navHomeLink: String)(implicit request: Request[_], messages: Messages)

@allowableLossesHelpText() = {
    <span>
        @Messages("calc.resident.summary.remainingLossHelp")
        <a href="https://www.gov.uk/capital-gains-tax/losses" rel="external"
           data-journey-click="rtt-shares-help:govUK:summary-cgt-losses">
            @Messages("calc.resident.summary.remainingLossLink")
            <span>@Messages("calc.base.externalLink")</span>
        </a>
        @Messages("calc.resident.summary.remainingAllowableLossHelp")
    </span>
}

@broughtForwardLossesHelpText() = {
    <span>
        @Messages("calc.resident.summary.remainingLossHelp")
        <a href="https://www.gov.uk/capital-gains-tax/losses" rel="external"
           data-journey-click="rtt-shares-help:govUK:summary-cgt-losses">
            @Messages("calc.resident.summary.remainingLossLink")
            <span>@Messages("calc.base.externalLink")</span>
        </a>
        @Messages("calc.resident.summary.remainingBroughtForwardLossHelp")
    </span>
}

@annualExemptAmountHelpText() = {
    <span>@Messages("calc.resident.summary.annualExemptAmountHelp")</span>
}

@resident_main_template(
title = Messages("calc.resident.summary.title"),
backLink = Some(backUrl),
articleLayout = false,
homeLink = navHomeLink,
navTitle = Messages("calc.base.resident.shares.home")
) {

<h1 class="heading-xlarge">
    <span class="pre-heading">@Messages("calc.resident.summary.pageHeading")</span>
    &pound;0.00
</h1>

@{if (!taxYear.isValidYear) {
    <div class="notice-wrapper">
        <div class="notice">
            <i class="icon icon-important">
                <span class="visuallyhidden">{Messages("calc.resident.summary.warning")}</span>
            </i>
            <strong class="bold-small">
                {Messages("calc.base.summary.dateWarning", taxYear.calculationTaxYear)}
            </strong>
        </div>
    </div>
    }
}

<!-- Google Analytics -->
<div id="ga-reporting" class="visuallyhidden">

    <!-- Tax Year -->
    <span data-metrics="rtt-shares-summary:calculationYear:@{taxYear.calculationTaxYear}"></span>

    <!-- No Gain Stats -->
    <span data-metrics="rtt-shares-summary:result:no-gain"></span>

    <!-- Other Disposal Stats -->
    @if(deductionAnswers.otherPropertiesModel.fold(false)(_.hasOtherProperties)){
        <span data-metrics="rtt-shares-summary:otherDisposals:yes"></span>
    } else {
        <span data-metrics="rtt-shares-summary:otherDisposals:no"></span>
    }

    <!-- Claiming In Year Allowable Losses Stats -->
    @if(deductionAnswers.allowableLossesModel.fold(false)(_.isClaiming)){
        <span data-metrics="rtt-shares-summary:inYearAllowableLosses:yes"></span>
    } else {
        <span data-metrics="rtt-shares-summary:inYearAllowableLosses:no"></span>
    }

    <!-- Claiming Brought Forward Losses Stats -->
    @if(deductionAnswers.broughtForwardModel.fold(false)(_.option)){
        <span data-metrics="rtt-shares-summary:broughtForwardLosses:yes"></span>
    } else {
        <span data-metrics="rtt-shares-summary:broughtForwardLosses:no"></span>
    }
</div>

<!-- Calculation Details Section -->
<section id="calcDetails">
    <!-- Header -->
    @summarySectionHeaderHelper(Messages("calc.resident.summary.calcDetailsHeadingDate", taxYear.taxYearSupplied))

    <!-- Data Rows -->
    @summaryNumericRowHelper("gain",gainMessage(result.gain),result.gain)
    @summaryNumericRowHelper("deductions", Messages("calc.resident.summary.deductions"), result.deductions, None, Some(Seq(
        (Messages("calc.resident.summary.deductionsDetails.allowableLossesUsed", taxYear.taxYearSupplied), MoneyPounds(result.allowableLossesUsed, 0).quantity),
        (Messages("calc.resident.summary.deductionsDetails.aeaUsed"), MoneyPounds(result.aeaUsed, 0).quantity),
        (Messages("calc.resident.summary.deductionsDetails.broughtForwardLossesUsed", taxYear.taxYearSupplied), MoneyPounds(result.broughtForwardLossesUsed, 0).quantity)
    )))
    @if(result.chargeableGain == 0){
        @summaryNumericRowHelper("chargeableGain", Messages("calc.resident.summary.chargeableGain"), result.chargeableGain)
    }
    @if(result.allowableLossesRemaining > 0) {
        @{summaryNumericHelpTextHelper("allowableLossRemaining", Messages("calc.resident.summary.remainingAllowableLoss", taxYear.taxYearSupplied),
            result.allowableLossesRemaining,
            None,
            Some(allowableLossesHelpText()))
        }
    }
    @if(result.broughtForwardLossesRemaining > 0) {
        @{summaryNumericHelpTextHelper("broughtForwardLossRemaining", Messages("calc.resident.summary.remainingBroughtForwardLoss", taxYear.taxYearSupplied),
            result.broughtForwardLossesRemaining,
            None,
            Some(broughtForwardLossesHelpText()))
        }
    }
    @summaryNumericHelpTextHelper("aeaRemaining", Messages("calc.resident.summary.aeaRemaining", taxYear.calculationTaxYear), result.aeaRemaining, None,
        if(result.aeaRemaining > 0) {Some(annualExemptAmountHelpText())}
        else {None}
    )
</section>

<!-- Your Answers Section -->
<section id="yourAnswers">
    <!-- Header -->
    @summarySectionHeaderHelper(Messages("calc.resident.summary.yourAnswersHeading"))

    <!-- Data Rows-->
    @summaryDateRowHelper("disposalDate",Messages("calc.resident.shares.disposalDate.question"),gainAnswers.disposalDate,Some(gainRoutes.disposalDate().toString))
    <!-- Shares updated disposal value section -->
    @summaryOptionRowHelper("soldForLessThanWorth", Messages("calc.resident.shares.sellForLess.question"), gainAnswers.soldForLessThanWorth, Some(gainRoutes.sellForLess().toString))

    @{if(!gainAnswers.soldForLessThanWorth)
        summaryNumericRowHelper("disposalValue", Messages("calc.resident.shares.disposalValue.question"), gainAnswers.disposalValue.get, Some(gainRoutes.disposalValue().toString))
    }

    @{if(gainAnswers.soldForLessThanWorth)
        summaryNumericRowHelper("worthWhenSoldForLess", Messages("calc.resident.shares.worthWhenSoldForLess.question"), gainAnswers.worthWhenSoldForLess.get, Some(gainRoutes.worthWhenSoldForLess().toString))
    }
    <!-- Ends -->
    @summaryNumericRowHelper("disposalCosts",Messages("calc.resident.shares.disposalCosts.question"),gainAnswers.disposalCosts,Some(gainRoutes.disposalCosts().toString))
    @summaryOptionRowHelper("ownerBeforeLegislationStart",Messages("calc.resident.shares.ownerBeforeLegislationStart.title"),gainAnswers.ownerBeforeLegislationStart,Some(gainRoutes.ownerBeforeLegislationStart().url))
    @{if(gainAnswers.ownerBeforeLegislationStart)
        summaryNumericRowHelper("valueBeforeLegislationStart",Messages("calc.resident.shares.valueBeforeLegislationStart.question"),gainAnswers.valueBeforeLegislationStart.get,Some(gainRoutes.valueBeforeLegislationStart().toString))
    }

    @{if (!gainAnswers.ownerBeforeLegislationStart)
        summaryOptionRowHelper("inheritedTheShares",Messages("calc.resident.shares.didYouInheritThem.question"),gainAnswers.inheritedTheShares.get,Some(gainRoutes.didYouInheritThem().url))
    }

    @{if(gainAnswers.displayWorthWhenInherited)
        summaryNumericRowHelper("worthWhenInherited",Messages("calc.resident.shares.worthWhenInherited.question"),gainAnswers.worthWhenInherited.get,Some(gainRoutes.worthWhenInherited().url))
    }

    @{if(gainAnswers.displayWorthWhenBought)
            summaryNumericRowHelper("acquisitionValue",Messages("calc.resident.shares.acquisitionValue.question"),gainAnswers.acquisitionValue.get,Some(gainRoutes.acquisitionValue().url))
    }

    @summaryNumericRowHelper("acquisitionCosts",Messages("calc.resident.shares.acquisitionCosts.question"),gainAnswers.acquisitionCosts,Some(gainRoutes.acquisitionCosts().toString))

    @summaryOptionRowHelper("otherDisposals",Messages("calc.resident.otherProperties.title", taxYear.taxYearSupplied),deductionAnswers.otherPropertiesModel.get.hasOtherProperties,Some(deductionRoutes.otherDisposals().toString))

    @{if (deductionAnswers.otherPropertiesModel.get.hasOtherProperties)
        summaryOptionRowHelper("allowableLosses",Messages("calc.resident.allowableLosses.title",
        taxYear.taxYearSupplied),deductionAnswers.allowableLossesModel.get.isClaiming,Some(deductionRoutes.allowableLosses().toString))
    }

    @{if (deductionAnswers.displayAllowableLossesValue)
        summaryNumericRowHelper("allowableLossesValue",Messages("calc.resident.allowableLossesValue.title",
        taxYear.taxYearSupplied),deductionAnswers.allowableLossesValueModel.get.amount,Some(deductionRoutes.allowableLossesValue().toString))
    }

    @summaryOptionRowHelper("broughtForwardLosses",Messages("calc.resident.lossesBroughtForward.title", taxYear.taxYearSupplied),deductionAnswers.broughtForwardModel.get.option, Some(deductionRoutes.lossesBroughtForward().toString))

    @{if (deductionAnswers.broughtForwardModel.get.option)
        summaryNumericRowHelper("broughtForwardLossesValue",Messages("calc.resident.lossesBroughtForwardValue.title",
        taxYear.taxYearSupplied),deductionAnswers.broughtForwardValueModel.get.amount,Some(deductionRoutes.lossesBroughtForwardValue().toString))
    }

    @{if (deductionAnswers.displayAnnualExemptAmount)
        summaryNumericRowHelper("annualExemptAmount",Messages("calc.resident.annualExemptAmount.title"),
        deductionAnswers.annualExemptAmountModel.get.amount,Some(deductionRoutes.annualExemptAmount().toString))
    }
</section>



    @if(TaxDates.dateInsideAcceptedTaxYears(getDay(gainAnswers.disposalDate), getMonth(gainAnswers.disposalDate), getYear(gainAnswers.disposalDate))) {
            <section id="whatToDoNext" class="summary-underline summary-overline">
                <h2 id="whatToDoNextNoLossTitle" class="bold-medium">@Messages("calc.resident.summary.whatNext")</h2>
                <div id="whatToDoNextNoLossText" class="font-medium what-to-do-next-text">
                    @Messages("calc.resident.summary.whatNext.noLossOrGain")
                    <a href="https://www.gov.uk/capital-gains-tax/report-and-pay-capital-gains-tax" target="_blank" rel="external"
                       data-journey-click="help:govUK:rtt-shares-whatToDoNext">
                        @Messages("calc.resident.summary.whatNext.noLossOrGainLinkShares")
                        <span id="opensInANewWindow">@Messages("calc.base.externalLink")</span>.
                    </a>
                </div>
            </section>
    }

    <a type="submit" class="button save-pdf-button" href="@controllers.resident.shares.routes.ReportController.deductionsReport.toString"
       data-journey-click="rtt-shares-summary:pdf:save">@Messages("calc.resident.summary.saveAsPdf")</a>

}