@import views.html.helpers.resident._
@import models.SummaryDataItemModel
@import models.resident._
@import models.resident.shares._
@import common.Dates._
@import common.TaxDates
@import constructors.SummaryConstructor._
@import controllers.routes.{GainController => routes}
@import views.html.calculation._
@import views.html.helpers.gainSummaryPartial

@(answers: GainAnswersModel, gain: BigDecimal, taxYear: TaxYearModel, navHomeLink: String, totalCosts: BigDecimal, maxAea: BigDecimal)(implicit request: Request[_], messages: Messages)

@resident_main_template(
    title = Messages("calc.resident.summary.title"),
    backLink = Some(controllers.routes.ReviewAnswersController.reviewGainAnswers().toString),
    homeLink = navHomeLink,
    navTitle = Messages("calc.base.resident.shares.home")
    ) {

    <!-- Google Analytics -->
    <div id="ga-reporting" class="visuallyhidden">

        <!-- Tax Year -->
        <span data-metrics="rtt-shares-summary:calculationYear:@{taxYear.calculationTaxYear}"></span>

        <!-- Loss Stats -->
        @if(gain < 0){
            <span data-metrics="rtt-shares-summary:result:loss"></span>
        } else {
            <span data-metrics="rtt-shares-summary:result:no-gain"></span>
        }
    </div>

    @gainSummaryPartial(
        answers,
        taxYear,
        gain,
        totalCosts,
        maxAea
    )

    @if(taxYear.isValidYear) {
        <section id="whatToDoNext">
            <h2 id="whatToDoNextTitle" class="bold-medium">@Messages("calc.summary.whatToDoNext.heading")</h2>
            <p class="font-small">@Messages("calc.summary.whatToDoNext.details")</p>
        </section>
    }

    <div id="save-as-a-pdf" class="notice download-pdf">
        <div class="icon-file-download">
            <span class="visuallyhidden">@Messages("calc.summary.download")</span>
        </div>

        <a type="submit" class="bold-small save-pdf-link" href="@controllers.routes.ReportController.gainSummaryReport()"
        data-journey-click="rtt-properties-summary:pdf:save">@Messages("calc.resident.summary.saveAsPdf")</a>
    </div>

    @if(taxYear.isValidYear) {
        <div class="summary-details-padding">
            <a class="button" href="@controllers.routes.SaUserController.saUser.url" id="continue-button">@Messages("calc.base.button.continue")</a>
        </div>
    }
}