@import views.html.calculation.gain.resident_shares_main_template

@(backUrl: String)(implicit request : Request[_], messages: Messages)

@resident_shares_main_template(title = Messages("calc.whatToDoNext.title"), backLink = Some(backUrl)) {

    <h1>@Messages("calc.whatToDoNext.title")</h1>

    <p>@Messages("calc.whatToDoNext.fourAEA.information")</p>

    <p>@Messages("calc.whatToDoNext.fourAEA.youMustDoThis")</p>

    <a id="finish" href="http://www.gov.uk">@Messages("calc.whatToDoNext.finish")</a>
}