@import uk.gov.hmrc.play.views.html.helpers.form
@import views.html.helpers._
@import views.html.helpers.resident._
@import models.resident._
@import views.html.calculation.resident._
@import play.api.mvc.Call

@(allowableLossesForm: Form[AllowableLossesModel], taxYear: TaxYearModel, postAction: Call, backLink: Option[String], navHomeLink: String, navTitle: String)(implicit request: Request[_], messages: Messages)

@hiddenHelpTextContent = {
    <div id="helpInfo">
        <p>@Messages("calc.resident.allowableLosses.helpInfo.subtitle")</p>
        <ul class="list-bullet">
            <li>@Messages("calc.resident.allowableLosses.helpInfo.point1")</li>
            <li>@Messages("calc.resident.allowableLosses.helpInfo.point2")</li>
            <li>@Messages("calc.resident.allowableLosses.helpInfo.point3")</li>
        </ul>
    </div>
}

@resident_main_template(
    title = Messages("calc.resident.allowableLosses.title",
    taxYear.taxYearSupplied),
    backLink = backLink,
    homeLink = navHomeLink,
    navTitle = navTitle
) {

    @errorSummary(allowableLossesForm, "isClaiming")

    <h1 class="heading-large">@Messages("calc.resident.allowableLosses.title", taxYear.taxYearSupplied)</h1>

    @form(action = postAction) {
        @formInputRadioGroup(
            field = allowableLossesForm("isClaiming"),
            Seq(
                "Yes" -> Messages("calc.base.yes"),
                "No" -> Messages("calc.base.no")),
            '_legend -> Messages("calc.resident.allowableLosses.question", taxYear.taxYearSupplied),
            '_legendID -> "isClaiming",
            '_legendClass -> "visuallyhidden",
            '_labelAfter -> true,
            '_labelClass -> "block-label",
            '_groupClass -> "inline form-group radio-list",
            '_fieldsetAttributes -> "aria-details = help"
        )

        <input type="hidden" name="isClaiming" value="" />
        <button class="button yes-no-button" type="submit" id="continue-button">@Messages("calc.base.continue")</button>
    }

    @expandableHelpTextHelper(Messages("calc.resident.allowableLosses.helpInfo.title"), hiddenHelpTextContent)
}
